Hello {{ user.get_full_name|default:user.username }},

You requested a password reset for your KoGae Village Insurance account.

Please click the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'customer:password_reset_confirm' uidb64=uid token=token %}

If you didn't request this password reset, please ignore this email.

This link will expire in 24 hours for security purposes.

Best regards,
KoGae Village Insurance Team

---
KoGae Village Insurance - Protecting What Matters Most
Email: {{ EMAIL_HOST_USER }}
Website: {{ protocol }}://{{ domain }}