{% extends 'customer/customerbase.html' %}
{% load static %}
{% block content %}


<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
        
        <style>
            .card {
                margin-bottom: 20px;
            }
    
            .container-cards {
                margin-top: 20px;
            }
    
            .row {
                display: grid;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                align-content: space-around;
                justify-content: flex-start;
                align-items: flex-start;
                justify-items: stretch;
                flex-direction: row;
            }
    
            body {
                margin: 0;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 1rem;
                font-weight: 400;
                color: #212529;
                text-align: left;
                background-color: #fff;
                width: 100%;
            }
    
            /* Adjust flex direction to column on smaller screens */
            @media (max-width: 768px) {
                .row {
                    flex-direction: column;
                }
    
                .card {
                    width: 100%; /* Make cards take full width on smaller screens */
                }
            }
            .btn-primary {
                color: #fff;
                background-color: #e21a22;
                border-color: #e21a22;
            }
            .btn-primary:hover {
                color: #000000;
                background-color: #ffffff;
                border-color: #b91d23;
            }
        </style>
</head>

<div class="container">
    <!-- Add the following paragraph to display the page route -->
    <div class="row">
        <div class="col-md-12">
            <p class="breadcrumb" style="font-size: 14px; font-family: 
              'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', 
              -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 
              sans-serif; color: #e21a22;"
            >
              Home / Form Uploads
            </p>
        </div>
    </div>


</div>

<div class="container mt-40 container-cards">
    <div class="row">

        <div class="container">
            <!-- Add the following paragraph to display the page route -->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="breadcrumb" style="font-size: 18px; font-family: 
                      'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', 
                      -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 
                      sans-serif; color: #e21a22;"
                    >
                      KNOW YOUR CUSTOMER APPLICATION (eKYC) FORM
                    </h1>
                </div>
                <div class="col-md-12">
                    <p class="breadcrumb" style="margin-top: 20px; font-size: 14px; font-family: 
                    'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', 
                    -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 
                    sans-serif; color: #e21a22;" >
                       Complete our streamlined Know Your Customer Application (eKYC) Form effortlessly to initiate a secure and compliant onboarding process.
                        At Minet Botswana, we value your time and prioritize the confidentiality of your information. By submitting this form, 
                        you contribute to a smooth verification process, ensuring a seamless and trustworthy customer experience. Thank you for choosing 
                        Minet Botswana for your services – where simplicity meets security.
                    </p>
                </div>
            </div>
        </div>
        
        <!-- KYC Forms -->
        <div class="col-md-6 col-sm-12">
            <div class="card"> 
                <div class="card-header" style="background-color: #e21a22; color: #fff;">KYC Forms</div>
                <div class="card-body">
                    <!-- Display KYC form for uploading -->
                    <form method="POST" action="{% url 'customer:upload_kyc_form' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Your form fields here -->
                        <div class="form-group">
                            <label for="{{ KYCuploadForm.kyc_form.id_for_label }}">KYC Form Upload </label>
                            <!--input type="file" name="{{ KYCuploadForm.kyc_form.name }}" id="{{ KYCuploadForm.kyc_form.id }}" class="form-control" required-->
                            <input type="file" name="kyc_form" id="{{ KYCuploadForm.kyc_form.id }}" class="form-control" required>

                            {{ KYCuploadForm.kyc_form.errors }}
                        </div>
                        {% if existing_kyc_form %}
                        <!-- Display a message for existing KYC form -->
                        <p style="font-size: 14px; color: #e21a22; font-weight: bold;">KYC form already submitted! You can view it <a href="{{ existing_kyc_form.kyc_form }}" target="_blank">here</a>.</p>
                        <!-- Disable the submit button -->
                        <button type="submit" class="btn btn-primary" disabled>Submit Form</button>
                        {% else %}
                        <!-- Enable the submit button for new KYC form -->
                        <button type="submit" class="btn btn-primary">Submit Form</button>
                        {% endif %}
                        <!-- Download button for KYC form -->
                        <a href="https://storage.googleapis.com/ko_gae_bucket/forms_downloads/KYC.pdf" download style="font-size: 16px;">Download KYC Form</a>
                    </form>     
                </div>               
            </div>            
        </div>
        <!-- COPY OF OMANG Forms -->
        <div class="col-md-6 col-sm-12">
            <div class="card"> 
                <div class="card-header" style="background-color: #e21a22; color: #fff;">COPY OF OMANG</div>
                <div class="card-body">
                    <!-- Display KYC form for uploading -->
                    <form method="POST" action="{% url 'customer:upload_copy_of_omang' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Your form fields here -->
                        <div class="form-group">
                            <label for="{{ CopyOfOmangForm.copy_of_omang.id_for_label }}">COPY OF OMANG Upload </label>
                            <!--input type="file" name="{{ KYCuploadForm.kyc_form.name }}" id="{{ KYCuploadForm.kyc_form.id }}" class="form-control" required-->
                            <input type="file" name="copy_of_omang" id="{{ CopyOfOmangForm.copy_of_omang.id }}" class="form-control" required>

                            {{ CopyOfOmangForm.copy_of_omang.errors }}
                        </div>
                        {% if existing_copy_of_omang %}
                        <!-- Display a message for existing KYC form -->
                        <p style="font-size: 14px; color: #e21a22; font-weight: bold;">KYC form already submitted! You can view it <a href="{{ existing_copy_of_omang.copy_of_omang }}" target="_blank">here</a>.</p>
                        <!-- Disable the submit button -->
                        <button type="submit" class="btn btn-primary" disabled>Submit Form</button>
                        {% else %}
                        <!-- Enable the submit button for new KYC form -->
                        <button type="submit" class="btn btn-primary">Submit Form</button>
                        {% endif %}
                    </form>     
                </div>               
            </div>            
        </div>

        <!-- Proof Of residence Forms -->
        <div class="col-md-6 col-sm-12">
            <div class="card"> 
                <div class="card-header" style="background-color: #e21a22; color: #fff;">Proof of Residence</div>
                <div class="card-body">
                    <!-- Display KYC form for uploading -->
                    <form method="POST" action="{% url 'customer:upload_residence_proof' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Your form fields here -->
                        <div class="form-group">
                            <label for="{{ ResidenceProofForm.residence_proof.id_for_label }}">Proof of Residence Upload </label>
                            <!--input type="file" name="{{ KYCuploadForm.kyc_form.name }}" id="{{ KYCuploadForm.kyc_form.id }}" class="form-control" required-->
                            <input type="file" name="residence_proof" id="{{ ResidenceProofForm.residence_proof.id }}" class="form-control" required>

                            {{ ResidenceProofForm.residence_proof.errors }}
                        </div>
                        {% if existing_residence_proof %}
                        <!-- Display a message for existing KYC form -->
                        <p style="font-size: 14px; color: #e21a22; font-weight: bold;">Proof of Residence already submitted! You can view it <a href="{{ existing_residence_proof.residence_proof }}" target="_blank">here</a>.</p>
                        <!-- Disable the submit button -->
                        <button type="submit" class="btn btn-primary" disabled>Submit Form</button>
                        {% else %}
                        <!-- Enable the submit button for new KYC form -->
                        <button type="submit" class="btn btn-primary">Submit Form</button>
                        {% endif %}
                    </form>     
                </div>               
            </div>            
        </div>

        <!-- Proof Of Income Forms -->
        <div class="col-md-6 col-sm-12">
            <div class="card"> 
                <div class="card-header" style="background-color: #e21a22; color: #fff;">Proof of Residence</div>
                <div class="card-body">
                    <!-- Display KYC form for uploading -->
                    <form method="POST" action="{% url 'customer:upload_income_proof' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Your form fields here -->
                        <div class="form-group">
                            <label for="{{ IncomeProofForm.income_proof.id_for_label }}">Proof of Income Upload </label>
                            <!--input type="file" name="{{ KYCuploadForm.kyc_form.name }}" id="{{ KYCuploadForm.kyc_form.id }}" class="form-control" required-->
                            <input type="file" name="income_proof" id="{{ IncomeProofForm.income_proof.id }}" class="form-control" required>

                            {{ IncomeProofForm.income_proof.errors }}
                        </div>
                        {% if existing_income_proof %}
                        <!-- Display a message for existing KYC form -->
                        <p style="font-size: 14px; color: #e21a22; font-weight: bold;">Proof of Residence already submitted! You can view it <a href="{{ existing_income_proof.income_proof }}" target="_blank">here</a>.</p>
                        <!-- Disable the submit button -->
                        <button type="submit" class="btn btn-primary" disabled>Submit Form</button>
                        {% else %}
                        <!-- Enable the submit button for new KYC form -->
                        <button type="submit" class="btn btn-primary">Submit Form</button>
                        {% endif %}
                    </form>     
                </div>               
            </div>            
        </div>

    </div>
</div>

                            <!--POLICY APPLICATION FORMS-->

<div class="container mt-40 container-cards">
    <div class="row">

        <div class="container">
            <!-- Add the following paragraph to display the page route -->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="breadcrumb" style="margin-top: 20px; font-size: 18px; font-family: 
                      'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', 
                      -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 
                      sans-serif; color: #e21a22;"
                    >
                      POLICY APPLICATION FORMS
                    </h1>
                </div>
                <div class="col-md-12">
                    <p class="breadcrumb" style="margin-top: 20px; font-size: 14px; font-family: 
                    'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', 
                    -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 
                    sans-serif; color: #e21a22;" >
                        Welcome to our Policy Application Forms section, where you can easily initiate your journey towards comprehensive coverage. 
                        Our user-friendly forms are designed to streamline the application process, ensuring a hassle-free experience for our valued clients.
                        Whether you are seeking insurance coverage for your home, vehicle, or other valuable assets, our policy application forms are 
                        tailored to gather essential information to provide you with the best possible coverage. Simply navigate through the specific 
                        forms related to your insurance needs, fill in the required details, and submit your application. Our dedicated team is committed 
                        to processing your application promptly, ensuring that you receive the protection you deserve. Thank you for choosing us for your 
                        insurance needs, and we look forward to securing your peace of mind with our reliable policies.
                    </p>
                </div>
            </div>
        
        
        </div>


        <!-- Direct Debit Forms -->
<div class="col-md-6 col-sm-12">
    <div class="card">
        <div class="card-header" style="background-color: #e21a22; color: #fff;">Direct Debit Forms</div>
        <div class="card-body">
            {% for direct_debit_form_instance in direct_debit_forms %}
            <!-- Display Direct Debit form instance details -->
            {{ direct_debit_form_instance }}
            {% endfor %}
            <p style="font-size: small; font: #e21a22; font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', 
            -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 
            sans-serif;">
                Discover peace of mind with our Homeowners Cover Forms—a comprehensive solution designed to 
                safeguard what matters most: your home. Our user-friendly forms make it easy to access the protection
                you need, ensuring a seamless process for securing your property. From essential details to tailored coverage options, our forms empower homeowners 
                to navigate insurance with confidence. Simplify your insurance journey and embrace the reassurance that comes with our dedicated 
                Homeowners Cover Forms.
            </p>

            <!-- Replace the form with a button to redirect -->
            <button type="button" class="btn btn-primary" onclick="redirectToDirectDebit()">Go to Form</button>
        </div>
    </div>
</div>

<script>
    function redirectToDirectDebit() {
        window.location.href = "form/direct_debit.html/";
    }
</script>

     <!--/div>

     <div class="row"-->
        <!-- Homeowners Cover Forms -->
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header" style="background-color: #e21a22; color: #fff;">Home Owners Insurance</div>
                <div class="card-body">
                    {% for direct_debit_form_instance in direct_debit_forms %}
                    <!-- Display Direct Debit form instance details -->
                    {{ direct_debit_form_instance }}
                    {% endfor %}
                    <p style="font-size: small; font: #e21a22; font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', 
                    -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 
                    sans-serif;">
                        Discover peace of mind with our Homeowners Cover Forms—a comprehensive solution designed to 
                        safeguard what matters most: your home. Our user-friendly forms make it easy to access the protection
                         you need, ensuring a seamless process for securing your property. From essential details to tailored coverage options, our forms empower homeowners to navigate insurance with confidence. Simplify your insurance journey and embrace the reassurance that comes with our dedicated Homeowners Cover Forms.</p>
        
                    <!-- Replace the form with a button to redirect -->
                    <button type="button" class="btn btn-primary" onclick="redirectToHomeOwnersInsurance()">Go to Form</button>
                </div>
            </div>
        </div>
        
        <script>
            function redirectToHomeOwnersInsurance() {
                window.location.href = "form/homeowners_insurance.html";
            }
        </script>

        <!-- Third Party Car Insurance Forms -->
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header" style="background-color: #e21a22; color: #fff;">Third Party Motor Insurance</div>
                <div class="card-body">
                    {% for direct_debit_form_instance in direct_debit_forms %}
                    <!-- Display Direct Debit form instance details -->
                    {{ direct_debit_form_instance }}
                    {% endfor %}
                    <p style="font-size: small; font: #e21a22; font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', 
                    -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 
                    sans-serif;">
                        Discover peace of mind with our Homeowners Cover Forms—a comprehensive solution designed to 
                        safeguard what matters most: your home. Our user-friendly forms make it easy to access the protection
                         you need, ensuring a seamless process for securing your property. From essential details to tailored coverage options, our forms empower homeowners to navigate insurance with confidence. Simplify your insurance journey and embrace the reassurance that comes with our dedicated Homeowners Cover Forms.</p>
        
                    <!-- Replace the form with a button to redirect -->
                    <button type="button" class="btn btn-primary" onclick="redirectToThirdPartyInsurance()">Go to Form</button>
                </div>
            </div>
        </div>
        
        <script>
            function redirectToThirdPartyInsurance() {
                window.location.href = "forms/motor_insurance.html";
            }
        </script>
    </div>
</div>

<!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>
{% endblock content %}