<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Minet - eKYC Portal</title>
{% load static %}
<link rel="icon" href="{% static 'image/favicon.ico' %}">
<html lang="en" dir="ltr">

<head>

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "insurance/navbar.html" %}
  <br><br>
  <div class="jumbotron text-center" style="margin-bottom:0px;">
    <h1 class="display-4">Hello, Customer</h1>
    <p class="lead">Welcome to Insurance Management System</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="customersignup" role="button">KYC Submission</a>
      <a class="btn btn-primary btn-lg" href="customerlogin" role="button">Log In to Dashboard</a>
    </p>
    <br><br><br>
  </div>
 
  {% include "insurance/footer.html" %}
</body>

</html>
