{% extends 'insurance/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <!-- Include SweetAlert library -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- JAVASCRIPT SCRIPTS FOR MORE FUNCTIONALITIES -->

  <script>
    //Function to display the tooltip information 'i' icon
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });
  </script>
  <script>
    $(document).ready(function () {
      // Function to update the username field
      function updateUsername() {
        var firstName = $('#id_first_name').val().toLowerCase();
        var lastName = $('#id_last_name').val().toLowerCase();
        var generatedUsername = firstName.charAt(0) + lastName;
        $('#id_username').val(generatedUsername);
      }
  
      // Listen for changes in the first_name and last_name fields
      $('#id_first_name, #id_last_name').on('input', function () {
        updateUsername();
      });
      // Initial username update
      updateUsername();
    });
  </script>

  <style media="screen">
    input[type=text], select,input[type=number] ,input[type=password], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #e21a22;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #080d08;
  }
  .content {
      margin-left: 250px;
      background: url(background.png) no-repeat;
      background-color: #fff;
      background-position: center;
      background-size: cover;
      height: 100vh;
      transition: 0.5s;
      font-family: "Titillium Web", sans-serif;
      font-size: small;
    }


   label #sidebar_btn {
      z-index: 1;
      color: #fff;
      position: fixed;
      cursor: pointer;
      left: 300px;
      padding-left: 60px;
      margin-top:15px;
      font-size: 20px;
      
      transition: 0.5s;
      transition-property: color;
    }
    .left_area{
      margin-top:8px;
    }

    .success-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
}
  </style>


</head>

<br><br>
<h3 style="text-align: center; color: #e21a22; font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; text-transform: uppercase;">Update Customer</h3>

<div>
  <form id="update-customer-form" method="POST" action="{% url 'update-customer' pk=customer.pk %}" autocomplete="off" enctype="multipart/form-data" style="margin-left:200px;margin-right:200px;">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="first_name">First Name</label>
            {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="First Name" %}
        </div>
        <div class="form-group col-md-6">
            <label for="last_name">Last Name</label>
            {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Last Name" %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="username">
                Username
                <i class="fas fa-info-circle" data-toggle="tooltip" title="Username is auto-generated from client's first name and last name"></i>
            </label>
            {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="Username" %}
        </div>
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" value="{{ userForm.password.value }}" style="display: none;">
          <div id="encrypted-password" style="text-align: center;">••••••••</div>
        </div>
        </div>
  

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="gender">Gender</label>
            {{ customerForm.gender|attr:'required:true' }}
        </div>
        <div class="form-group col-md-6">
            <label for="date_of_birth">Date of Birth</label>
            {{ customerForm.date_of_birth|attr:'required:true' }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="marital_status">Marital Status</label>
            {{ customerForm.marital_status|attr:'required:true' }}
        </div>
        <div class="form-group col-md-6">
            <label for="id_type">Identification Type</label>
            {% render_field customerForm.id_type|attr:'required:true' class="form-control" %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id_number">ID/Passport Number</label>
            {% render_field customerForm.id_number|attr:'required:true' class="form-control" placeholder="ID/Passport Number" %}
        </div>
        <div class="form-group col-md-6">
            <label for="mobile">Mobile</label>
            {% render_field customerForm.mobile|attr:'required:true'  class="form-control" placeholder="Mobile" %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="alternate_phone">Alternate Phone</label>
            {% render_field customerForm.alternate_phone|attr:'required:false'  class="form-control" placeholder="Alternate Phone" %}
        </div>
        <div class="form-group col-md-6">
            <label for="address">Email Address</label>
            {% render_field customerForm.address|attr:'required:true' class="form-control" placeholder="Email" %}
        </div>  
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="physical_address">Physical Address</label>
            {% render_field customerForm.physical_address|attr:'required:true'  class="form-control" placeholder="Physical Address" %}
        </div>
        <div class="form-group col-md-6">
            <label for="postal_address">Postal Address</label>
            {% render_field customerForm.postal_address|attr:'required:true'  class="form-control" placeholder="Postal Address" %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="occupation">Occupation</label>
            {% render_field customerForm.occupation|attr:'required:true'  class="form-control" placeholder="Occupation" %}
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Update">
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Get the encrypted password element
      const encryptedPassword = document.getElementById('encrypted-password');
      // Get the actual password input field
      const passwordInput = document.getElementById('password');
      
      // Replace the encrypted password with asterisks or dots
      const passwordLength = Math.min(20, passwordInput.value.length); // Limit to 10 characters
      encryptedPassword.textContent = '•'.repeat(passwordLength);
  });
</script>
<br><br><br><br><br><br><br><br>

<!--script>
  // Add an event listener to the form submission
  document.getElementById('update-customer-form').addEventListener('submit', function(event) {
    // Prevent the default form submission behavior
    event.preventDefault();
    
    // Perform your form submission here (e.g., through AJAX or Django form submission)
    // If the form submission is successful, trigger SweetAlert
    // For demonstration purposes, we'll just trigger SweetAlert directly
    swal({
      title: "Success!",
      text: "User updated successfully.",
      icon: "success",
      button: "OK",
    });
  });
</script-->
<script>
  // Add an event listener to the form submission
  document.getElementById('update-customer-form').addEventListener('submit', function(event) {
    // Prevent the default form submission behavior
    event.preventDefault();
    
    // Store the form element for later use
    const form = this;
    
    // Perform your form submission here (e.g., through AJAX or Django form submission)
    // For demonstration purposes, we'll just trigger SweetAlert directly
    swal({
      title: "Confirm User Update",
      text: "Are you sure you want to update this user?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willUpdate) => {
      if (willUpdate) {
        // If user confirms, submit the form
        form.submit();
      } else {
        // If user cancels, do nothing
        return false;
      }
    });
  });
</script>
<script>
  // Function to show SweetAlert message if provided in the URL query parameters
  function showSweetAlertMessage() {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('customer_updated') && urlParams.get('customer_updated') === 'True') {
      swal("Success!", "User updated successfully.", "success");
    }
  }

  // Execute the function when the document is ready
  document.addEventListener('DOMContentLoaded', function() {
    showSweetAlertMessage();
  });
</script>

{% endblock content %}